<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Almaguer</title>
    <link rel='stylesheet' href='/stylesheets/curriculum.css' />
    <style>

    </style>
    
  </head>
  <body>
    <div>
      <h1>Alexander Raul Almaguer Orta</h1>
    <p>Calle Santa Rosa, Casa 79, San Juan de los Morros, Estado guarico </p>
    <p>Telefono: (0412) 598-4615</p>
    <fieldset>
      <legend>Datos Generales</legend>
      <ul>
        <li><span>Fecha de nacimiento:</span> 20-06-2003</li>
        <li><span>Cedula de identidad:</span> V-30.626.438</li>
        <li><span>Email:</span> almagueralexander839@gmail.com</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Formacion academica</legend>
      <ul>
        <li><span>Educacion basica:</span> U. E. C. A. "Arquidiosesano"</li>
        <li><span>Bachillerato:</span> U. E. C. A. "Arquidiosesano"</li>
        <li><span>Ingenieria en informatica:</span> Universidad Experimental de los Llanos Centrales "Romulo Gallegos" (UNERG)</li>
        <li><span>Farmaceutica:</span> Colegio de Enfermeros de Guarico</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Experiencia laboral</legend>
      <ul>
        <li><span>Farmaceutico:</span> Farmacia "Miranda"</li>
        <li><span>Gerente:</span> Farmacia "Miranda"</li>
        <li><span>Contador:</span> Contraloria Publica</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Habilidades y destrezas</legend>
      <ul>
        <li>Habilidades en la plataforma EXEL</li>
        <li>Atencion al cliente</li>
        <li>Agilidad mental</li>
        <li>Disponibilidad al trabajo </li>
      </ul>
    </fieldset>
    <h2>Redes sociales</h2>
     <p><span>Facebook:</span> Alexander Almaguer</p>
     <p><span>Instagram</span> AlexR4</p>
    </div>
  </body>
</html>